<div mat-dialog-content>
  <form [formGroup]="codeForm">
    <p>
      <mat-form-field class="auth-form" appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" type="text" matInput />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="auth-form" appearance="outline">
        <mat-label>Description</mat-label>
        <input formControlName="description" type="text" matInput />
      </mat-form-field>
    </p>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onClick()" cdkFocusInitial>Ok</button>
</div>
