@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.card-title {
  font-family: "Lato", sans-serif;
}
