<mat-toolbar color="primary">
  <span routerLink="/reports" class="title">ReportTool</span>

  <ng-container *ngIf="!isLoggedIn">
    <span class="example-spacer"></span>
    <button
      class="link-button"
      routerLink="/login"
      routerLinkActive="active"
      mat-button
    >
      Login
    </button>
    <button
      class="link-button"
      routerLink="/register"
      routerLinkActive="active"
      mat-button
    >
      Register
    </button>
  </ng-container>
  <ng-container *ngIf="isLoggedIn">
    <button
      class="link-button"
      routerLink="/reports"
      mat-button
      routerLinkActive="active"
    >
      Reports
    </button>
    <ng-container *ngIf="isAdmin"
      ><button
        class="link-button"
        routerLink="/codes"
        mat-button
        routerLinkActive="active"
      >
        Codes
      </button>
      <button
        class="link-button"
        routerLink="/products"
        mat-button
        routerLinkActive="active"
      >
        Products
      </button></ng-container
    >

    <span class="example-spacer"></span>
    <button
      class="link-button"
      routerLink="/login"
      mat-button
      (click)="logout()"
    >
      Logout
      <mat-icon class="nav-icon">power_settings_new</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>
