<mat-toolbar color="primary">
  <mat-icon routerLink="/timetable" class="title">access_time</mat-icon>
  <span class="example-spacer"></span>
  <ng-container *ngIf="!isLoggedIn">
    <button
      class="link-button"
      routerLink="/login"
      routerLinkActive="active"
      mat-button
    >
      Login
    </button>
    <button
      class="link-button"
      routerLink="/register"
      routerLinkActive="active"
      mat-button
    >
      Register
    </button>
  </ng-container>
  <ng-container *ngIf="isLoggedIn">
    <button class="link-button" routerLink="/codes" mat-button>Codes</button>
    <button
      class="link-button"
      routerLink="/login"
      mat-button
      (click)="logout()"
    >
      Logout
      <mat-icon class="nav-icon">power_settings_new</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>
